.buttons {
  flex: 0 0 100px;
  text-align: center;
}

.buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  display: inline-block;
  margin: 0 8px;
  transition: box-shadow 0.3s ease;
}

.buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.button button {
  box-shadow: none;
  transition: box-shadow 0.2s ease-in;
}

.buttons button:hover {
  box-shadow: var(--shadow-elevation);
  transition: box-shadow 0.2s ease-in;
}

.rejectButton {
  background: rgb(242, 35, 101);
  color: white;
}

.acceptButton {
  background: rgb(35, 242, 128);
  color: white;
}
